.container {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(73, 78, 2, 0.548);
  border: 2px solid black;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* margin lze psát i v pixelech samozřejmě */

